<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/b1f18c0a-f3dc-44bd-b160-57bc972af907/resourceGroups/BackendAPI/providers/Microsoft.ApiManagement/service/CatalogoProductosapi/apis/CatalogoProductosAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>false</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/b1f18c0a-f3dc-44bd-b160-57bc972af907/resourcegroups/BackendAPI/providers/Microsoft.Web/sites/CatalogoProductosAPI20250508194318</ResourceId>
    <ResourceGroup>BackendAPI</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://catalogoproductosapi20250508194318-d2fefdf0bqaed4ds.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9f32e710-18d6-49ef-8222-788a8c800616</ProjectGuid>
    <PublishUrl>https://catalogoproductosapi20250508194318-d2fefdf0bqaed4ds.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>